@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Habibi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Edu NSW ACT Foundation, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/*headings and logo*/
h1, h2 {
    font-family: Alkatra, sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/*navigation links*/
#menu, #logo {
    line-height: 75px;
}
#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: blue;
    border-bottom: 1px solid #3a3a3a;
}

/*my-image*/
#outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#my-image{
    height: 500px;
    width: 100%;
    background: url('/assets/images/pexels-andrea-piacquadio-3769981.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    margin-top: 20px;

     /*animates zoom effect on loading page*/
    animation-name : zoom-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*create the level of zoom of my image*/
@keyframes zoom-image {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

